<div class="card-dish" id="dish_id_<%= dish.id %>" style='margin-top: 16px'>
  <% if dish.photo.attached? %>
    <%= cl_image_tag dish.photo.key, height: 300, width: 400, crop: :fill %>
  <% else %>
    <img src="https://images.unsplash.com/photo-1566935367576-6e0e852215d1?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80" />
  <% end %>
  <div class="card-dish-infos">
    <h2><%= dish.name %> / <%= number_with_precision(dish.price, precision: 2) %> €</h2>
    <p><%= dish.description %></p>
  </div>
  <div data-controller="order">
    <div data-target="order.content">
      <%= link_to visit_new_order_path(@visit, dish_id: dish.id), method: :POST, remote: true do %>
        <button class="btn-ghost added" data-action="click->order#sayAdded">+</button>
      <% end %>
    </div>
  </div>
</div>
