<div class="navbar navbar-light navbar-lewagon">
  <div class="counter" data-controller="counter">
    <% if request.original_fullpath == root_path %>
    <% elsif request.original_fullpath == visits_path %>
      <%= link_to root_path, class: "navbar-brand" do %>
        <%= image_tag "separeat_logo.svg", class: "logo", alt: "logo" %>
      <% end %>
    <% else %>
      <%= link_to visit_orders_path(Visit.last), class: "navbar-brand" do %>
        <i class="fas fa-shopping-bag"></i>
        <% unless @order_count == 0 %>
        <span style="color:white" data-counter-target="count">(<%= @order_count %>)</span>
        <% end %>
      <% end %>
    <% end %>
  </div>

  <button class="navbar-dark navbar-toggler border-white rounded" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse dropdown mt-5 pt-3" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto text-center">
      <% if user_signed_in? %>
        <div class="card-product">
          <% if current_user.photo.attached? %>
            <%= cl_image_tag current_user.photo.key, id: "real-image" %>
          <% else %>
            <%= image_tag "user-solid.svg", id: "dummy-image" %>
          <% end %>
          <div class="card-product-infos">
            <h2><%= current_user.first_name %> <%= current_user.last_name %></h2>
            <% unless @restaurant.nil? %>
              <p><%= @restaurant.name %></p>
            <% end %>
          </div>
        </div>
        <li class="nav-item">
          <%= link_to "Order Details", visit_orders_path(Visit.last), class: "btn btn-flat btn-navbar" %>
        </li>
        <li class="nav-item">
          <%= link_to "Pay & Checkout", visit_path(Visit.last), class: "btn btn-flat btn-navbar" %>
        </li>
        <li class="nav-item">
          <%= link_to "Recent Visits", visits_path , class: "btn btn-flat btn-navbar" %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
