<div class="navbar navbar-light navbar-lewagon">
  <%= link_to visit_orders_path(Visit.last), class: "navbar-brand" do %>
    <div class="counter" data-controller="counter">
      <i class="fas fa-shopping-bag"></i>
      <span style="color:white" data-counter-target="count">(<%= @order_count %>)</span>
    </div>
  <% end %>

  <button class="navbar-dark navbar-toggler border-white rounded" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse dropdown mt-5 pt-3" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto text-center">
      <% if user_signed_in? %>
        <div class="card-product">
          <% if current_user.photo.attached? %>
            <%= cl_image_tag current_user.photo.key, id: "real-image" %>
          <% else %>
            <%= image_tag "user-solid.svg", id: "dummy-image" %>
          <% end %>
          <div class="card-product-infos">
            <h2><%= current_user.first_name %> <%= current_user.last_name %></h2>
            <p>@Toni's Burgers</p>
          </div>
        </div>
        <li class="nav-item">
          <%= link_to "Order details", "#", class: "btn btn-flat btn-navbar" %>
        </li>
        <li class="nav-item">
          <%= link_to "Pay & Checkout", "#", class: "btn btn-flat btn-navbar" %>
        </li>
        <li class="nav-item">
          <%= link_to "Call waiter", "#", class: "btn btn-flat btn-navbar" %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
