<div class="navbar navbar-light navbar-lewagon">
  <%= link_to root_path, class: "navbar-brand" do %>
    <i class="fas fa-utensils"></i>
  <% end %>

  <button class="navbar-dark navbar-toggler border-white rounded" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse dropdown mt-5 pt-3" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto text-center">
      <% if user_signed_in? %>
        <div class="card-avatar mt-5 pt-3 pb-1">
          <img class="avatar-menu dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://kitt.lewagon.com/placeholder/users/ssaunier" />
          <li class="nav-item mt-3 pt-5">
            <h4>Sébastien Saunier</h4>
            <p>@Restaurant Tim Raue</p>
          </li>
        </div>
        <li class="nav-item pt-3">
          <%= link_to "Order details", "#", class: "btn btn-flat btn-navbar-1" %>
        </li>
        <li class="nav-item pt-3">
          <%= link_to "Pay & Checkout", "#", class: "btn btn-flat btn-navbar-2" %>
        </li>
        <li class="nav-item pt-3">
          <%= link_to "Call waiter", "#", class: "btn btn-flat btn-navbar-3" %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
