<h2 class="order-header">Order Details</h2>

<div class="orders-list">
  <ul>
    <% @orders_hash.each do |array| %>
      <div class="order-listing">
        <li>
          <div class="btn-group" role="group" aria-label="Basic example">
            <%= link_to '–', order_path((Order.where(dish_id: array[0], visit_id: @visit)).first), method: :DELETE, class: "btn btn-orders"  %>
            <%= link_to '+', visit_orders_path(@visit, dish_id: array[0]), method: :POST, class: "btn btn-orders" %>
          </div>
          <%= array[1] %> <%= array[0][:name] %> (<%= number_with_precision(array[0][:price], precision: 2) %> €)
        </li>
        <li>
          <%= number_with_precision((array[1])*(array[0][:price]), precision: 2) %> €
        </li>
      </div>
      <% @total += (array[1])*array[0][:price] %>
    <% end %>
  </ul>
</div>



<div class="orders-list">
  <ul>
    <div class="order-total"><li>Total</li><li><%= number_with_precision(@total, precision: 2) %> €</li></div>
  </ul>
</div>

<div class="align-button">
  <%= link_to "Back to menu", restaurant_path(@visit.table.restaurant), class: "btn-flat", id: 'first' %>
</div>
<div class="align-button">
  <%= link_to 'Place your order', '#',  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#exampleModalCenter', class: 'btn-flat', id: 'second'} %>
</div>
<div class="align-button">
  <%= link_to "Call a waiter", "#", {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#waiterModalCenter', class: 'btn-flat-secondary', id: 'third'} %>
</div>

<!-- Modals -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h1><i class="far fa-check-circle"></i></h1>
        <h5>Thank you!<br>Your order has been placed.</h5>
      </div>
      <div class="modal-footer">
        <%= link_to "Back to menu", restaurant_path(@visit.table.restaurant), class: "btn-flat" %>
        <%= link_to "Checkout", visit_path(@visit), class: "btn-flat" %>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="waiterModalCenter" tabindex="-1" role="dialog" aria-labelledby="waiterModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h1><i class="far fa-check-circle"></i></h1>
        <h5>Someone will be at your table<br>in a moment.</h5>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
