<% content_for :meta_title, "#{@restaurant.name} is on #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, @restaurant.category %>
<% content_for :meta_image, cl_image_path(@restaurant.photo.key) %>

<%= render 'shared/restaurantcard' %>
<div style='padding: 16px 0 0 0'><%= render 'shared/searchform' %></div>
<%= render 'shared/categorycard' %>
<%= render 'shared/menu' %>

<% if @restaurant.user == current_user %>
  <div style='padding: 16px 0 0 0'><h3>Add a Dish</h3></div>
  <div style='padding: 16px 0 0 0'>
    <%= render 'dishes/form' %>
  </div>
<% end %>

<!-- Modal -->
<div class="modal fade" id="orderConfirmModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h1>Added to your order.<i class="far fa-check-circle"></i></h1>
        <h1 class="modal-title" id="exampleModalLongTitle"></h1>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
