<% content_for :meta_title, "#{@restaurant.name} is on #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, @restaurant.category %>
<% content_for :meta_image, cl_image_path(@restaurant.photo.key) %>

<%= render 'shared/restaurantcard' %>

<div style='padding: 16px 0 0 0'><%= render 'shared/searchform' %></div>

<%= render 'shared/categorycard' %>

<% unless @starters.empty? %>
  <div style='padding: 16px 0 0 0'><a name="starters"><h3 style="font-size: 20px; font-weight: bold; padding-left: 14px">Starters</h3></a></div>
<% end %>
<% @starters.each do |dish| %>
  <div class="card-dish" style='margin-top: 16px'>
    <% if dish.photo.attached? %>
      <%= cl_image_tag dish.photo.key, height: 300, width: 400, crop: :fill %>
    <% else %>
      <img src="https://images.unsplash.com/photo-1566935367576-6e0e852215d1?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80" />
    <% end %>
    <div class="card-dish-infos">
      <h2><%= dish.name %> / <%= dish.price %> €</h2>
      <p><%= dish.description %></p>
    </div>

    <div data-controller="order">
      <div data-target="order.content">
        <%= link_to visit_orders_path(@visit, dish_id: dish.id), method: :POST, remote: true do %>
          <button class="btn-ghost added" data-action="click->order#sayAdded">+</button>
        <% end %>
      </div>
    </div>

  </div>
<% end %>

<% unless @soups.empty? %>
  <div style='padding: 16px 0 0 0'><h3 style="font-size: 20px; font-weight: bold; padding-left: 14px">Soups</h3></div>
<% end %>
<% @soups.each do |dish| %>
  <div class="card-dish" style='margin-top: 16px'>
    <% if dish.photo.attached? %>
      <%= cl_image_tag dish.photo.key, height: 300, width: 400, crop: :fill %>
    <% else %>
      <img src="https://images.unsplash.com/photo-1566935367576-6e0e852215d1?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80" />
    <% end %>
    <div class="card-dish-infos">
      <h2><%= dish.name %> / <%= dish.price %> €</h2>
      <p><%= dish.description %></p>
    </div>
    <div data-controller="order">
      <div data-target="order.content">
        <%= link_to visit_orders_path(@visit, dish_id: dish.id), method: :POST, remote: true do %>
          <button class="btn-ghost added" data-action="click->order#sayAdded">+</button>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

<% unless @salads.empty? %>
  <div style='padding: 16px 0 0 0'><h3 style="font-size: 20px; font-weight: bold; padding-left: 14px">Salads</h3></div>
<% end %>
<% @salads.each do |dish| %>
  <div class="card-dish" style='margin-top: 16px'>
    <% if dish.photo.attached? %>
      <%= cl_image_tag dish.photo.key, height: 300, width: 400, crop: :fill %>
    <% else %>
      <img src="https://images.unsplash.com/photo-1566935367576-6e0e852215d1?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80" />
    <% end %>
    <div class="card-dish-infos">
      <h2><%= dish.name %> / <%= dish.price %> €</h2>
      <p><%= dish.description %></p>
    </div>
    <div data-controller="order">
      <div data-target="order.content">
        <%= link_to visit_orders_path(@visit, dish_id: dish.id), method: :POST, remote: true do %>
          <button class="btn-ghost added" data-action="click->order#sayAdded">+</button>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

<% unless @main_dishes.empty? %>
  <div style='padding: 16px 0 0 0'><h3 style="font-size: 20px; font-weight: bold; padding-left: 14px">Main Dishes</h3></div>
<% end %>
<% @main_dishes.each do |dish| %>
    <div class="card-dish" style='margin-top: 16px'>
    <% if dish.photo.attached? %>
      <%= cl_image_tag dish.photo.key, height: 300, width: 400, crop: :fill %>
    <% else %>
      <img src="https://images.unsplash.com/photo-1566935367576-6e0e852215d1?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80" />
    <% end %>
    <div class="card-dish-infos">
      <h2><%= dish.name %> / <%= dish.price %> €</h2>
      <p><%= dish.description %></p>
    </div>
    <div data-controller="order">
      <div data-target="order.content">
        <%= link_to visit_orders_path(@visit, dish_id: dish.id), method: :POST, remote: true do %>
          <button class="btn-ghost added" data-action="click->order#sayAdded">+</button>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

<% unless @meats.empty? %>
  <div style='padding: 16px 0 0 0'><h3 style="font-size: 20px; font-weight: bold; padding-left: 14px">Meat</h3></div>
<% end %>
<% @meats.each do |dish| %>
  <div class="card-dish" style='margin-top: 16px'>
    <% if dish.photo.attached? %>
      <%= cl_image_tag dish.photo.key, height: 300, width: 400, crop: :fill %>
    <% else %>
      <img src="https://images.unsplash.com/photo-1566935367576-6e0e852215d1?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80" />
    <% end %>
    <div class="card-dish-infos">
      <h2><%= dish.name %> / <%= dish.price %> €</h2>
      <p><%= dish.description %></p>
    </div>
    <div data-controller="order">
      <div data-target="order.content">
        <%= link_to visit_orders_path(@visit, dish_id: dish.id), method: :POST, remote: true do %>
          <button class="btn-ghost added" data-action="click->order#sayAdded">+</button>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

<% unless @fishes.empty? %>
  <div style='padding: 16px 0 0 0'><h3 style="font-size: 20px; font-weight: bold; padding-left: 14px">Fish</h3></div>
<% end %>
<% @fishes.each do |dish| %>
  <div class="card-dish" style='margin-top: 16px'>
    <% if dish.photo.attached? %>
      <%= cl_image_tag dish.photo.key, height: 300, width: 400, crop: :fill %>
    <% else %>
      <img src="https://images.unsplash.com/photo-1566935367576-6e0e852215d1?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80" />
    <% end %>
    <div class="card-dish-infos">
      <h2><%= dish.name %> / <%= dish.price %> €</h2>
      <p><%= dish.description %></p>
    </div>
    <div data-controller="order">
      <div data-target="order.content">
        <%= link_to visit_orders_path(@visit, dish_id: dish.id), method: :POST, remote: true do %>
          <button class="btn-ghost added" data-action="click->order#sayAdded">+</button>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

<% unless @pastas.empty? %>
  <div style='padding: 16px 0 0 0'><h3 style="font-size: 20px; font-weight: bold; padding-left: 14px">Pasta</h3></div>
<% end %>
<% @pastas.each do |dish| %>
  <div class="card-dish" style='margin-top: 16px'>
    <% if dish.photo.attached? %>
      <%= cl_image_tag dish.photo.key, height: 300, width: 400, crop: :fill %>
    <% else %>
      <img src="https://images.unsplash.com/photo-1566935367576-6e0e852215d1?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80" />
    <% end %>
    <div class="card-dish-infos">
      <h2><%= dish.name %> / <%= dish.price %> €</h2>
      <p><%= dish.description %></p>
    </div>
    <div data-controller="order">
      <div data-target="order.content">
        <%= link_to visit_orders_path(@visit, dish_id: dish.id), method: :POST, remote: true do %>
          <button class="btn-ghost added" data-action="click->order#sayAdded">+</button>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

<% unless @veggies.empty? %>
  <div style='padding: 16px 0 0 0'><h3 style="font-size: 20px; font-weight: bold; padding-left: 14px">Vegetarian</h3></div>
<% end %>
<% @veggies.each do |dish| %>
  <div class="card-dish" style='margin-top: 16px'>
    <% if dish.photo.attached? %>
      <%= cl_image_tag dish.photo.key, height: 300, width: 400, crop: :fill %>
    <% else %>
      <img src="https://images.unsplash.com/photo-1566935367576-6e0e852215d1?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80" />
    <% end %>
    <div class="card-dish-infos">
      <h2><%= dish.name %> / <%= dish.price %> €</h2>
      <p><%= dish.description %></p>
    </div>
    <div data-controller="order">
      <div data-target="order.content">
        <%= link_to visit_orders_path(@visit, dish_id: dish.id), method: :POST, remote: true do %>
          <button class="btn-ghost added" data-action="click->order#sayAdded">+</button>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

<% unless @vegans.empty? %>
  <div style='padding: 16px 0 0 0'><h3 style="font-size: 20px; font-weight: bold; padding-left: 14px">Vegan</h3></div>
<% end %>
<% @vegans.each do |dish| %>
  <div class="card-dish" style='margin-top: 16px'>
    <% if dish.photo.attached? %>
      <%= cl_image_tag dish.photo.key, height: 300, width: 400, crop: :fill %>
    <% else %>
      <img src="https://images.unsplash.com/photo-1566935367576-6e0e852215d1?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80" />
    <% end %>
    <div class="card-dish-infos">
      <h2><%= dish.name %> / <%= dish.price %> €</h2>
      <p><%= dish.description %></p>
    </div>
    <div data-controller="order">
      <div data-target="order.content">
        <%= link_to visit_orders_path(@visit, dish_id: dish.id), method: :POST, remote: true do %>
          <button class="btn-ghost added" data-action="click->order#sayAdded">+</button>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

<% unless @desserts.empty? %>
  <div style='padding: 16px 0 0 0'><h3 style="font-size: 20px; font-weight: bold; padding-left: 14px">Desserts</h3></div>
<% end %>
<% @desserts.each do |dish| %>
    <div class="card-dish" style='margin-top: 16px'>
    <% if dish.photo.attached? %>
      <%= cl_image_tag dish.photo.key, height: 300, width: 400, crop: :fill %>
    <% else %>
      <img src="https://images.unsplash.com/photo-1566935367576-6e0e852215d1?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80" />
    <% end %>
    <div class="card-dish-infos">
      <h2><%= dish.name %> / <%= dish.price %> €</h2>
      <p><%= dish.description %></p>
    </div>
    <div data-controller="order">
      <div data-target="order.content">
        <%= link_to visit_orders_path(@visit, dish_id: dish.id), method: :POST, remote: true do %>
          <button class="btn-ghost added" data-action="click->order#sayAdded">+</button>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

<% unless @beverages.empty? %>
  <div style='padding: 16px 0 0 0'><h3 style="font-size: 20px; font-weight: bold; padding-left: 14px">Beverages</h3></div>
<% end %>
<% @beverages.each do |dish| %>
    <div class="card-dish" style='margin-top: 16px'>
    <% if dish.photo.attached? %>
      <%= cl_image_tag dish.photo.key, height: 300, width: 400, crop: :fill %>
    <% else %>
      <img src="https://images.unsplash.com/photo-1566935367576-6e0e852215d1?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80" />
    <% end %>
    <div class="card-dish-infos">
      <h2><%= dish.name %> / <%= dish.price %> €</h2>
      <p><%= dish.description %></p>
    </div>
    <div data-controller="order">
      <div data-target="order.content">
        <%= link_to visit_orders_path(@visit, dish_id: dish.id), method: :POST, remote: true do %>
          <button class="btn-ghost added" data-action="click->order#sayAdded">+</button>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

<% unless @beers.empty? %>
  <div style='padding: 16px 0 0 0'><h3 style="font-size: 20px; font-weight: bold; padding-left: 14px">Beers</h3></div>
<% end %>
<% @beers.each do |dish| %>
    <div class="card-dish" style='margin-top: 16px'>
    <% if dish.photo.attached? %>
      <%= cl_image_tag dish.photo.key, height: 300, width: 400, crop: :fill %>
    <% else %>
      <img src="https://images.unsplash.com/photo-1566935367576-6e0e852215d1?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80" />
    <% end %>
    <div class="card-dish-infos">
      <h2><%= dish.name %> / <%= dish.price %> €</h2>
      <p><%= dish.description %></p>
    </div>
    <div data-controller="order">
      <div data-target="order.content">
        <%= link_to visit_orders_path(@visit, dish_id: dish.id), method: :POST, remote: true do %>
          <button class="btn-ghost added" data-action="click->order#sayAdded">+</button>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

<% unless @alc_bevs.empty? %>
  <div style='padding: 16px 0 0 0'><h3 style="font-size: 20px; font-weight: bold; padding-left: 14px">Alcoholic Beverages</h3></div>
<% end %>
<% @alc_bevs.each do |dish| %>
    <div class="card-dish" style='margin-top: 16px'>
    <% if dish.photo.attached? %>
      <%= cl_image_tag dish.photo.key, height: 300, width: 400, crop: :fill %>
    <% else %>
      <img src="https://images.unsplash.com/photo-1566935367576-6e0e852215d1?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80" />
    <% end %>
    <div class="card-dish-infos">
      <h2><%= dish.name %> / <%= dish.price %> €</h2>
      <p><%= dish.description %></p>
    </div>
    <div data-controller="order">
      <div data-target="order.content">
        <%= link_to visit_orders_path(@visit, dish_id: dish.id), method: :POST, remote: true do %>
          <button class="btn-ghost added" data-action="click->order#sayAdded">+</button>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

<% unless @hot_bevs.empty? %>
  <div style='padding: 16px 0 0 0'><h3 style="font-size: 20px; font-weight: bold; padding-left: 14px">Hot Beverages</h3></div>
<% end %>
<% @hot_bevs.each do |dish| %>
    <div class="card-dish" style='margin-top: 16px'>
    <% if dish.photo.attached? %>
      <%= cl_image_tag dish.photo.key, height: 300, width: 400, crop: :fill %>
    <% else %>
      <img src="https://images.unsplash.com/photo-1566935367576-6e0e852215d1?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80" />
    <% end %>
    <div class="card-dish-infos">
      <h2><%= dish.name %> / <%= dish.price %> €</h2>
      <p><%= dish.description %></p>
    </div>
    <div data-controller="order">
      <div data-target="order.content">
        <%= link_to visit_orders_path(@visit, dish_id: dish.id), method: :POST, remote: true do %>
          <button class="btn-ghost added" data-action="click->order#sayAdded">+</button>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

<% if @restaurant.user == current_user %>
  <div style='padding: 16px 0 0 0'><h3>Add a Dish</h3></div>
  <div style='padding: 16px 0 0 0'>
    <%= render 'dishes/form' %>
  </div>
<% end %>


<!-- Modal -->
<div class="modal fade" id="orderConfirmModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h1>Added to your order.<i class="far fa-check-circle"></i></h1>
        <h1 class="modal-title" id="exampleModalLongTitle"></h1>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>

