
<div class="card-restaurant">
    <% if @restaurant.photo.attached? %>
      <%= cl_image_tag @restaurant.photo.key, height: 300, width: 400, crop: :fill %>
    <% else %>
      <img src="https://images.unsplash.com/photo-1534422298391-e4f8c172dddb?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1500&q=80" />
    <% end %>
    <div class="card-restaurant-infos">
      <div><h2><%= @restaurant.name %> <small><%= @restaurant.address %></small></h2></div>
      <div><h2>€€€</h2></div>
    </div>
  </div>
<h3><%= pluralize @restaurant.reviews.size, "review" %></h3>



  <% @reviews.each do |review|  %>

   <% review.rating.times do %>
    <i class="fas fa-star"style="font-size:24px;color:=#FFCF3E" ></i>
   <% end %>

   <% (5 - review.rating).times do %>
  <i class="fa fa-star-o" style="font-size:24px;color:grey">
   <% end %>
   <% end %>



<div  id="reviews" style="background-color: white; border-radius: 15px">

  <% if @restaurant.reviews.blank? %>
    Be the first to leave a review for <%= @restaurant.name %>
  <% else %>
    <% @restaurant.reviews.each do |review| %>
      <p><%= review.content %></p>
    <% end %>
  <% end %>
<%= simple_form_for([ @restaurant, @review ], remote: true) do |f| %>
  <%= f.input :content, as: :text %>
  <%= f.button :submit, 'Leave Review', class: 'btn-flat' %>
<% end %>
